.container-booking {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #fafafa;
  margin: 50px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 60%;
}

.container-info {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 50px;
  outline: 3px dashed #fff;
  outline-offset: -30px;
  text-align: center;
}

.heading {
  font-size: 35px;
  text-transform: uppercase;
}

.heading-COVID-19 {
  color: #af5c5c;
  font-size: 30px;
}

.heading-Congratulation {
  font-size: 20px;
}

.container-form {
  padding: 20px 0;
  margin: 0 auto;
  color: #000;
}

.form {
  display: grid;
  grid-row-gap: 20px;
}
.form p {
  font-weight: 600;
}

.form-filed {
  display: flex;
  justify-content: space-between;
}

.form-filed input,
select {
  pad: 10px 15px;
  padding: 5px;
}


.Co-btn-Booking{
    text-align: center;
    align-items: center;
}

.btn-Booking {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  width: 100px;

  /* border-radius: 20px; */

  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
}
.btn-Booking:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}
