.link1 {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 8%;
  transform: translate(0em, 2em);
  color: rgba(0, 0, 0);
}
.link1:hover {
  color: rgba(0, 0, 0);
}
#hall {
  
  margin-top: 60px;
}
.iii {
  margin-top: -1050px;
  margin-left: 500px;
}
.div {
  background-color: rgba(184, 19, 206, 0.404);
  width: 16%;
  height: 1035px;
  margin-top: 4%;
  margin-left: 1%;
  /* background-color: rgba(184, 19, 206, 0.404);
    width: 20%;
   
    height: 300px;
    margin-top: 4%;
    margin-left: 1%; */
}
#tables {
  /* margin-top: 80px;*/
  margin-left: 300px;
}
#price {
  /* transform: translate(10em,-2.2em); */
}
#column {
  width: 2px;
  color: rgba(203, 15, 228, 0.404);
}
#button-delete {
  transform: translate(20.5em, -14em);
  color: black;
  width: 14%;
  background-color: rgba(184, 19, 206, 0.404);
  border: 1px solid rgba(184, 19, 206, 0.404);
}
#button-update {
  transform: translate(13em, -10em);
  color: black;
  width: 14%;

  background-color: rgba(184, 19, 206, 0.404);
  border: 1px solid rgba(184, 19, 206, 0.404);
}
