.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  
}


.container nav{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 30px 5% 0;
    z-index:100 ;

}

.logo{
    width: 140px;
    cursor: pointer;
}

.container nav ul{
flex: 1 ;
text-align: right;
margin-right: 150px;

}
.container nav ul li{
    display: inline-block;
    margin: 0 42px;
}

.container nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.left-col{
    flex-basis: 62%;
    padding: 10% 5% 0;
    background-color: rgb(218, 18, 111);
}

.right-col{
    flex-basis: 38%;
    padding: 10% 3% 0;
   
    position: relative;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
   z-index: -100;
}


#carouselExampleControls{
   position: relative !important;
  
  
   min-height:100vh !important;
  
   overflow: hidden !important;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
   min-height: 100vh !important;
   width: 100% !important;
   display: flex !important;
   flex-wrap: wrap !important;
   position: relative !important;
}