.registerContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* margin-top: 8rem; */
    margin-left: 10rem;
}


.right-register {
    flex: 1;
    font-weight: 700;
    margin-top: 7rem;
}

.left-register {
    flex:1;
    margin-top: 2rem;

}
