.registerContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  margin-top: 1rem;
  margin-left: 32rem;
}
.btn4 {
  width: 75%;
  height: 37px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  background-color: rgb(197, 14, 121);
  color: white;
}
.btn4:hover {
  background-color: #fff;
  color: rgb(197, 14, 121);
  border: 1px solid rgb(197, 14, 121);
}
.btn6:hover {
  background-color: rgb(197, 14, 121);
  color: white;
}
#btn6 {
  color: rgb(197, 14, 121);
  text-decoration: none;
}
#btn6:hover {
  color: white;
  text-decoration: none;
}
#check {
  transform: translate(1em, 0em);
}
#checkbox {
  transform: translate(5em, 0em);
}
.sign {
  font-size: 37px;
  transform: translate(2em, 0em);
  background: -webkit-linear-gradient(rgb(36, 0, 24), rgb(233, 14, 185));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn6 {
  height: 37px;
  width: 75%;
  text-decoration: none;
  border: #fff;
  font-size: 1.1rem;
  border: 1px solid rgb(197, 14, 121);
  background-color: #fff;
  color: rgb(197, 14, 121);
}

#input {
  height: 38px;
  margin-bottom: 14px;
  width: 100%;
  padding: 7px;
  background-color: white;
  border-top: 1px rgba(104, 97, 97, 0.342) solid !important;
  border-right: 1px rgba(104, 97, 97, 0.342) solid !important;
  border-left: 1px rgba(104, 97, 97, 0.342) solid !important;
  border-bottom: 1px rgba(104, 97, 97, 0.342) solid !important;
}
.right-register {
  flex: 1;
  font-weight: 700;
  margin-top: 2rem;
  /* background-color: grey; */
}

.left-register {
  flex: 1;
  margin-top: 2rem;
}

.registerImg {
  /* display: flex;
    justify-content: center; */
  width: 35rem;
  height: 70vh;
  /* margin-right: 150px; */
}
